/* Print Notation Styles - Extracted from view_load.php */
/* Menghilangkan duplikasi 3x style blocks */

@font-face {
  font-family: "fontku";
  src: url("../font/Titillium-Regular.otf");
}

html .table {
  font-family: 'fontku', sans-serif;
}

html .content {
  font-family: 'fontku', sans-serif;
}

html body {
  font-family: 'fontku', sans-serif;
}

@media print {
  p div {
    font-family: 'fontku', sans-serif;
    font-size: 14px;
  }
}

hr {
  border-top: 1px dashed black;
}

/* Print container styles */
.print-container {
  width: 50mm;
  background-color: white;
  padding-bottom: 10px;
}

#dashRow td {
  border-bottom: 1px dashed black;
}
